body{
  font-family: 'Inter', sans-serif;
  margin: 0;
}
section{
  height: 450px;
}
.basic-info{
  width: 40%;
  float: left;

}
.basic-info{
  width: 40%;
  
  padding-left: 150px;

}
.basic-info h2{
 padding-top: 140px;
 
}
.basic-image img{
  height: 375px;
margin: 0 auto;

 padding-top: 30px;

}
.top-banner{
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
 background-position: 100%;
}